[project]
name = "chat-gpt-clone"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "dotenv>=0.9.9",
    "openai>=2.16.0",
    "streamlit>=1.53.1",
]
